---
import Layout from "../../layouts/Layout.astro";
import ResumePage from "../../components/ResumePage.astro";
import resumeData from "../../resume_dev.json";
---

<title>{resumeData.name} | Resume (Dev)</title>
<Layout maxWidth={800}>
  <ResumePage resumeData={resumeData} variant="dev" />
</Layout>
