---
import Layout from "../layouts/Layout.astro";
import CarouselHeader from "../components/Carousel.jsx";
import Card from "../components/Card.astro";

const matches = import.meta.glob("./blog/*.md", { eager: true });

// posts sorted by date, take the first 2
const posts = Object.values(matches)
  .sort((a, b) => {
    return (
      new Date(b.frontmatter.pubDate).getTime() -
      new Date(a.frontmatter.pubDate).getTime()
    );
  })
  .slice(0, 3);
---

<Layout>
  <div class="container">
    <CarouselHeader client:load />
    <div class="blurb">
      <div>
        <h1>Artist by Day, Developer by Night</h1>
        <p style="font-size: 1.25rem;">
          I am a Creative Director and Engineer with over 20 years of experience
          in mobile, social, AI, and UGC platforms. I bring a visual and
          technical perspective to my approach as a creative leader with an
          emphasis on quality and the user experience.
        </p>
      </div>
    </div>

    <div class="latestPosts">
      <h2>Latest Posts</h2>
      <div class="posts">
        <!-- <CarouselHeader client:load /> -->
        {posts.map((post: any, i) => <Card post={post} />)}
      </div>
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: stretch;
    /* overflow-x: hidden; */
  }
  .blurb {
    /* background-color: #1d1e21; */
    text-align: center;
    /* max-width: 800px; */
    /* margin: 4rem auto; */
    padding: 4rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 1024px) {
    .blurb {
      padding: 2rem;
    }
  }
  .latestPosts {
    /* display: flex;
    flex-direction: column; */
    /* gap: 1rem; */
    /* flex-grow: 1; */
    /* display: flex;
    justify-content: stretch; */
  }
  .posts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-decoration: none;
    color: inherit;
  }
</style>
