---
import Layout from "../layouts/Layout.astro";
import ResumePage from "../components/ResumePage.astro";
import resumeData from "../resume_art.json";
---

<title>{resumeData.name} | Resume</title>
<Layout maxWidth={800}>
  <ResumePage resumeData={resumeData} variant="art" />
</Layout>
