---
const { post } = Astro.props;
const horizontal = Astro.props.horizontal || false;
---

<a class={`post shadowfx ${horizontal ? "horizontal" : ""}`} href={post.url}>
  <div
    class="post-thumbnail"
    style={`background-image: url(${post.frontmatter.image.url})`}
  >
  </div>
  <div class="post-content">
    <span class="post-date">
      {
        new Date(post.frontmatter.pubDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </span>
    <h2>{post.frontmatter.title}</h2>
    <p>{post.frontmatter.description}</p>
    <span class="read-more">Read More</span>
    <div style="height: 1.5rem;"></div>
  </div>
</a>

<style>
  .post {
    background-color: #1d1e21;
    flex-grow: 1;
    /* height: 320px; */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    min-height: 256px;
    /* padding: 1rem; */
  }
  .post.horizontal {
    flex-direction: row-reverse;

    .post-thumbnail {
      width: 60%;
    }
  }
  @media (max-width: 648px) {
    .post.horizontal {
      flex-direction: column;

      .post-thumbnail {
        width: 100%;
      }

      .post-content {
        width: 100%;
      }
    }
  }
  .post-content {
    padding: 1rem;
    /* height: 400px; */
    /* width: 40%; */
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */

    h2 {
      /* text-transform: uppercase; */
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }
  }

  .read-more {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  .post-thumbnail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    aspect-ratio: 16 / 9;
  }
</style>
