html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  background-color: #151618;

  font-family: "Montserrat", sans-serif;
  color: #859195;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff !important;
}

a {
  /* clear default link styles */
  text-decoration: none;
  color: inherit;
}
