---
import Navigation from "../components/Navigation.astro";
import "../assets/global.scss";

import { ClientRouter } from "astro:transitions";
const { maxWidth } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="A personal blog and portfolio website" />
    <meta name="theme-color" content="#1d1e21" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap"
      rel="stylesheet"
    />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <Navigation />
    <div
      class="content"
      style={`max-width: ${maxWidth ? maxWidth + "px" : "100%"};`}
    >
      <slot />
    </div>
  </body>
</html>

<style>
  .content {
    flex-grow: 1;
    position: relative;
    width: calc(75% - 6rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* padding: 0 1rem; */
  }

  .content :global(*) {
    /* width: 100%; */
    /* max-width: 100%; */
  }
</style>
