---
import Layout from "../layouts/Layout.astro";
---

<Layout maxWidth={1440}>
  <div class="post-content">
    <slot />
  </div>
</Layout>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<style>
  .post-content {
    /* text-align: center; */
    /* display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center; */
    margin: 0;
    /* background: #0000005e; */
    border-radius: 1rem;
    /* padding: 1rem 0; */
    display: flow-root;
  }
  .post-content > :global(*) {
    max-width: 800px;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    margin: 2rem auto;
    box-sizing: border-box;
    /* margin: 1.5rem auto; */
    /* padding: 2rem; */
  }
  .post-content > :global(iframe),
  .post-content > :global(video),
  .post-content > :global(p:has(img)) {
    width: 100%;
    max-width: 1024px;
    /* border-radius: 1rem; */
    overflow: hidden;

    img {
      width: 100%;
      min-height: 240px;
      object-fit: cover;
    }
  }
  .post-content > :global(*:first-child) {
    margin-top: 0;
    max-width: 100%;
    border-radius: 1rem;
  }

  .post-content > :global(img) {
    border-radius: 0.5rem;
    
  }
</style>
