---
import Layout from "../layouts/Layout.astro";

// Get the frontmatter from the markdown file
const { frontmatter } = Astro.props;

// Extract SEO data from frontmatter
const {
  title,
  description,
  thumbnail,
  header,
  publishedTime,
  modifiedTime,
  author
} = frontmatter;

// Set the type to "article" for blog posts
const type = "article";
---

<Layout 
  maxWidth={1440}
  title={title}
  description={description}
  image={header || thumbnail || undefined}
  type={type}
  publishedTime={publishedTime || undefined}
  modifiedTime={modifiedTime || undefined}
  author={author || undefined}
>
  <div class="post-content">
    <slot />
  </div>
  <script
    slot="head"
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
</Layout>

<style>
  .post-content {
    /* text-align: center; */
    /* display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center; */
    margin: 0;
    /* background: #0000005e; */
    border-radius: 1rem;
    /* padding: 1rem 0; */
    display: flow-root;
  }
  .post-content > :global(*) {
    max-width: 800px;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    margin: 2rem auto;
    box-sizing: border-box;
    /* margin: 1.5rem auto; */
    /* padding: 2rem; */
  }
  .post-content > :global(iframe),
  .post-content > :global(video),
  .post-content > :global(p:has(img)) {
    width: 100%;
    max-width: 960px;
    /* max-height: 90vh; */
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;

    img {
      /* width: 100%; */
      /* min-height: 240px; */
      object-fit: cover;
    }
  }
  .post-content > :global(*:first-child:has(img)) {
    margin-top: 0;
    max-width: 100%;
    border-radius: 1rem;
  }

  .post-content > :global(img) {
    border-radius: 0.5rem;
  }
</style>
