---
import Layout from "../layouts/Layout.astro";
---

<Layout maxWidth={1440}>
  <div class="post-content">
    <slot />
  </div>
</Layout>

<style>
  .post-content {
    /* text-align: center; */
    /* display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center; */
    margin: 0;
    /* background: #0000005e; */
    border-radius: 1rem;
    /* padding: 1rem 0; */
    display: flow-root;
  }
  .post-content > :global(*) {
    max-width: 1024px;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 2rem auto;
    box-sizing: border-box;
    /* margin: 1.5rem auto; */
    /* padding: 2rem; */
  }
  .post-content > :global(p:has(img):first-of-type) {
    max-width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
  .post-content > :global(p:first-of-type) {
    margin-top: 0;
  }

  .post-content > :global(img) {
    border-radius: 0.5rem;
  }
</style>
