---
import Layout from "../../layouts/Layout.astro";
import Gallery from "../../components/Gallery.astro";

const { category } = Astro.params;
const { posts } = Astro.props;

export function getStaticPaths() {
  const matches = import.meta.glob("./*.md", { eager: true });
  const posts = Object.values(matches);
  const categories = posts.flatMap((post: any) => post.frontmatter.categories);
  const uniqueCategories = [...new Set(categories)];

  const dynamicPaths = uniqueCategories.map((category) => ({
    params: { category },
    props: { posts },
  }));

  return [
    ...dynamicPaths,
    { params: { category: undefined }, props: { posts } },
  ];
}
---

<head>
  <title>
    Dan Fessler - Development Portfolio {category ? `: ${category}` : ""}
  </title>
</head>

<Layout>
  <Gallery
    category={category}
    posts={posts}
    categories={["websites", "tools", "open-source", "languages", "other"]}
    baseUrl="/dev"
    persistText={true}
  />
</Layout>
